**/node_modules
**/.next
**/.git
**/build
**/.acton
**/coverage
**/playwright-report
**/test-results
**/.env
**/.env.local
**/.env*.local
**/wallets.toml
**/global.wallets.toml
**/*.mnemonic
miniapp/e2e
miniapp/tests
**/.DS_Store
**/*.log
